<!DOCTYPE html>
<html ng-app="scienceclass">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <!--<link rel="stylesheet" type="text/css" media="screen" href="lib/bootstrap/bootstrap.min.css">-->
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="lib/angular-ui-bootstrap/ui-bootstrap-csp.css">
    <link rel="stylesheet" type="text/css" media="screen" href="lib/bootstrap-theme/sb-admin-2.css">
    <link rel="stylesheet" type="text/css" media="screen" href="lib/bootstrap-theme/metisMenu.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="lib/fontawesome/css/font-awesome.min.css">
    <!-- <link rel="stylesheet" type="text/css" media="screen" href="lib/fontawesome/css/font-awesome.min.css"> -->
    <link rel="stylesheet" href="lib/angular-material/angular-material.min.css">
    <title>Science Class</title>
  </head>
  <body ng-controller="RootCtrl" ng-cloak>
    <md-toolbar ng-show="$rootScope.headershow">
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Settings" ng-click="goto('fileList')">
          <i class="fa fa-align-justify" aria-hidden="true"></i>
        </md-button>
        <h2>
          <span>Science Class</span>
        </h2>
        <span flex></span>
        <md-menu md-position-mode="target-right target">
          <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="openMenu($mdOpenMenu, $event)">
            <md-icon md-svg-icon="img/icons/more_vert.svg"></md-icon>
          </md-button>
          <md-menu-content width="4">
            <md-menu-item ng-show="userInfo.role == 'admin'">
              <md-button ng-click="goto('setting')">
                设置
              </md-button>
            </md-menu-item>
            <md-menu-item ng-show="userInfo.role == 'admin'">
              <md-button ng-click="goto('manage')">
                管理
              </md-button>
            </md-menu-item>
            <md-divider ng-show="isAdmin"></md-divider>
            <md-menu-item>
              <md-button ng-click="logout()">
                登出
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
      </div>
    </md-toolbar>
    <div id="wrapper" style="height:100%;" ui-view>
    </div>
    <script src="lib/jquery/jquery.min.js"></script>
    <script src="lib/bootstrap/bootstrap.min.js"></script>
    <script src="lib/moment/moment.min.js"></script>
    <script src="lib/angular/angular.min.js"></script>
    <script src="lib/angular/angular-ui-router.min.js"></script>
    <script src="lib/angular-material/angular-aria.min.js"></script>
    <script src="lib/angular-material/angular-animate.min.js"></script>
    <script src="lib/angular-material/angular-material.min.js"></script>
    <script src="lib/angular-ui-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="lib/bootstrap-theme/metisMenu.min.js"></script>
    <script src="lib/bootstrap-theme/sb-admin-2.js"></script>
    <script src="lib/lodash/lodash.min.js"></script>
    <script src="lib/lodash/lodash.fp.min.js"></script>
    <script src="lib/angular-sanitize.min.js"></script>
    <script src="lib/timer/angular-timer.min.js"></script>
    <script src="lib/timer/humanize-duration.js"></script>
    <script src="lib/timer/moment.js"></script>
    <script src="lib/d3.js"></script>
    <script src="dist/base.bundle.js"></script>
  </body>
</html>
