<div class="quiz_nav">
	<span class="font_yh18">{{chapter.name}}</span>
	<span style="float:right;color: #c1c1c1;"><timer interval="1000">{{hours}} hour{{hoursS}}, {{minutes}} minute{{minutesS}}, {{seconds}} second{{secondsS}}.</timer></span>
</div>
<div class="quiz_container">
	<div class="quiz_main">
		<div class="quiz_main_header">
			<span>{{curr+1}}.</span>
			{{cQuestion.name}}
		</div>
		<div class="quiz_main_content">
			<ul class="quiz_option_list">
				<li ng-repeat = "choice in cQuestion.content"><label class="link_quiz_option" value="{{$index}}"><input type="radio" name="answer" class="fl" ng-model="$parent.$parent.answer" value="{{$index}}"><span class="quiz_num">{{abcd[$index]}}.</span><span class="quiz_choice">{{choice}}</span></label>
			</ul>
		</div>
		<div class="quiz_main_footer">
			<a ng-click="mincur()" style="width: 30%;" class="fl"><i class="glyphicon glyphicon-menu-left" ></i></a>
			<a ng-click="addcur()" style="width: 70%; border-left: 1px solid #E4E4E4;"><i class="glyphicon glyphicon-menu-right" ></i></a>
		</div>
	</div>
	<div class="quiz_sidebar">
		<div class="quiz_sidebar_title">完成 <span class="bold big">{{curr+1}}</span>/{{total}} 题</div>
		<div class="quiz_sidebar_content">
			<p class="txt_c p25 por"><a id="btn_submit" ng-click="submit()" class="btn btnWhite_b btn-default">提交</a></p>
		</div>
	</div>
</div>


<md-button class="md-raised md-primary" ui-sref="study.ppt">开始学习</md-button>
