  <section layout="row" flex>
    <md-sidenav
        class="sidenav-left md-whiteframe-z2"
        md-is-locked-open="$mdMedia('gt-sm')">
      <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">ScienceClass</h1>
      </md-toolbar>
      <md-content flex>
          <md-list>
            <md-list-item class="md-1-line" style="background-color: rgb(33,150,243);color: rgb(255,255,255);" ng-repeat="knowledge in knowledges" >
              <div class="md-list-item-text">
                <h5>{{knowledge.name}}</h5>
              </div>
              <md-divider inset></md-divider>
            </md-list-item>
          </md-list>
        </md-content>
    </md-sidenav>

    <md-content flex>
      <div layout="column" layout-fill layout-align="top center">
        <md-toolbar class="md-whiteframe-glow-z1 excercise-content-toolbar _md">
          <div class="md-toolbar-tools docs-toolbar-tools" tabindex="-1">
            <div layout="row" flex="" class="fill-height layout-row flex">
              <h2 class="md-toolbar-item md-breadcrumb md-headline">
                <span class="md-breadcrumb-page ng-binding">Colors</span>
              </h2>
            </div>
          </div>
        </md-toolbar>
      </div>
      <div flex></div>
    </md-content>
  </section>
